@import "bootstrap-sprockets";
@import "bootstrap";

.btn {
    float:right;
    position:relative;
    margin: 5px;
}

.btn-lg {
    color:white;
    
}

.btn-primary {
    color: white;
}


.banner {
    position: relative;
    min-height: 200px;
    border: 1px solid gray;
    background-image: url("/assets/Site/BG_Main.jpg");
    max-width: 1000px;
    min-width: 750px;
    margin: auto;
}

.login {
    height:200px;
    width:30%;
    background:white;
    float:right;
}

div#cart {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 290px;
    height: 70px;
    color: black;
    float:right;
    background-color:white;
    position:relative;
}

#header_clear {
    width:480px;
    height:150px;
    float:left;
    position:absolute;

}

#header_right {
    float:right;
}